body {
    background: #f3f6fb;
}
#wrapper {
    min-height: 100vh;
}
#sidebar {
    width: 250px;
    min-width: 250px;
    background: #232a34;
}
#page-content-wrapper {
    background: #f3f6fb;
    min-height: 100vh;
}
.nav-link.active, .nav-link:hover {
    background: #222a33;
    color: #fff !important;
}
.card {
    border: none;
    border-radius: 12px;
}
.card-header {
    background: #f7f7f7;
    border-bottom: 1px solid #eaeaea;
    border-radius: 12px 12px 0 0;
}
.shadow-sm {
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
