# URL CSV da planilha do Google Sheets (aba Posts)
# Como obter: Arquivo > Compartilhar > Publicar na web > aba Posts > formato CSV > Publicar > copiar link
VITE_SHEETS_CSV_URL=https://docs.google.com/spreadsheets/d/<SHEET_ID>/pub?gid=0&single=true&output=csv
